*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
body{
    height:100%;
    width:100%;
}
.navbar{
    top:0;
    height: 50px;
    width:100%;
    background-color: blue;
    display: flex;
    position:fixed;

}
.c1{
    height:50px;
    width:10%;
    background-color: #FF71F2;
}
.c2{
    height:50px;
    width:50%;
    background-color: #9000E8;
}
.c3{
    height:50px;
    width:100%;
    background-color: #492478;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
button{
    height:49px;
    width:80%;
    text-align: center;
    cursor:pointer;
    background-color: #492478;
    color:#ffffff;
    display: flex;
    padding:4px;
    justify-content: space-around;
    border:2px solid transparent;
}
button:hover{
    text-decoration: underline;
    color:#ffffff;
}
para{
    color:#ffffff;
    background-color: #492478;
}
h2{
    font-weight: lighter;
}
.line{
    height:24px;
    width:2px;
    background-color: #ffffff;
    margin:5px 16px 4px 4px
}
.set:hover{
    text-decoration: underline;
}
.icons{
    height:50px;
    width:42%;
    /*border:1px solid red;*/
    display: flex;
    justify-content: space-between;
}
.box1{
    width:100vw;
    height:158px;
    background-color: #ffffff;
    display: flex;
    
}

.apps{
    display: flex;
    justify-content: space-between;
    color:#04006C;
    margin-right: 5%;
    font-weight: bolder;
}
.apps .menu:hover{
    text-decoration: underline;
    color:#04006C;
}
.apps1{
    display:flex;
    justify-content: space-between;
    font-weight: bolder;
}
.apps1 .search-action:hover{
    text-decoration: underline;
    color:#04006C;
}
.search-action{
    background-color: transparent;
    color:#04006C;
}
.menu{
    color:#04006C;
    font-size: 1.4rem;
    font-style: bold;
}
p{
font-size: 16px Beatrice-bold;
color:#04006C;
}
/*.other{
    display:flex;
    justify-content: space-between;
}*/
a{
    text-decoration: none;
    display: flex;
    padding:7px;
}
.item2{
    position: relative;
    top:50%;
    left:50%;
    display:flex;
    justify-content: space-between;
    color:#04006C;
    font:16px bold;
    cursor:pointer;
    padding:0 2% 0 2%;
    width:20%;
}
.title{
    font-size: 36px;
    font-weight: bold;
    margin:40px 0px 0px 30px;
    color:#04006C;
}
.container{
    height:100%;
    width:100%;
    padding:0px 22px;
    background-color: #f8f8f8;
    justify-content: center;

    
}
.image1{
    height:40%;
    width:35%;
    background-color: #04006C;
}
.lower{
    display:flex;
    justify-content: space-between;
}
.image3{
    height:52%;
    width:35%;
    background-color: #04006C;
    margin:0px 7px 7px 0px;
    
}
.image0{
    display:flex;
    justify-content: space-evenly;

}
.image2{
    height:620px;
    width:55%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    /*justify-content: space-evenly;*/
    padding: 2px;
   
    
}
.extra1{
    text-align: center;
    justify-content: center;
    background-color: transparent;
    height: 8%;
    width:8%;
    border:2px solid black;
    color:black;
    border-radius: 5px;
    text-decoration: none;
    position:relative;
    left:39%;
}
.extra1:hover{
    background-color: #04006C;
    color:#fff;
    text-align: center;
    text-decoration: none;
}
.extra{
    text-align: center;
    justify-content: center;
    background-color: transparent;
    height: 4%;
    width:9%;
    border:2px solid black;
    color:black;
    border-radius: 5px;
    text-decoration: none;
    position: relative;
    right:5%;
}
.extra:hover{
    background-color: #04006C;
    color:#fff;
    text-align: center;
    text-decoration: none;
}
.container1 h2{
    font-size: 36px;
    padding-top:12px;;
}
.part1{
    display: flex;
    justify-content: space-between;
}
.part2{
    font-style: 40px;
    display: flex;
    justify-content: space-evenly;
}
.part3{
    height:20%;
    width:20%;
}
.part6{
    display: flex;
    justify-content: space-around;
}
.part7{
    display: flex;
    justify-content: space-between;
}
 .content1{
    height:25%;
    width:13%;
    background-color: transparent;
    border:1px solid #e7e7e7;
}
.content1:hover{
    border:1px solid black;
}
.socialmediaicons{
    display: inline-block;
    cursor: pointer;
}
.container2{
    text-align: center;
}
a{
    text-align: center;
}
