* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Beatrice Regular", Arial, Helvetica, sans-serif;
  /* background-color: #05016C; */
  color: white;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #05016c;
  padding-left: 1rem;
  position: fixed;
  transition: background-color 0.3s ease;
  z-index: 200;
}
.navbar .nav-tags {
  margin-left: -14rem;
  padding: 1rem;
}
.navbar .nav-tags ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
}
.navbar .nav-tags ul li {
  padding: 10px;
  font-weight: 700;
  font-size: 1rem;
}
.navbar .nav-logo img {
  height: 100px;
  width: 200px;
}
.li-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .nav-tags2 {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 1rem;
}
.navbar .nav-tags2 .num {
  font-size: 1.5rem;
}
.navbar .nav-tags2 .red {
  color: red;
}

/* career-vide  */
.career-video {
  position: relative;
  height: 95vh;
}
.search-box {
  position: absolute;
  top: 450px;
  margin: 0 2rem;
}
.search-box h1{
    font-size: 3.5rem;
    padding: 1rem 0;
}
.career-input {
    display: flex;
}
.search-box .career-input input{
    padding: 20px;
    width: 80%;
    border: 2px solid blue;
    border-right: none;
}
.search-box .career-input button{
    padding: 20px;
    width: 20%;
    border: 1px solid #29f4d4;
    background-color: blue;
    font-size: 1.2rem;
    font-weight: bold;
}

.career-input input::placeholder{
    font-size: 1.2rem;
}

/* career - text */
.home-text {
  width: 100%;
  z-index: -2;
  background-color: #05016c;
  position: relative;
}
.home-left {
  width: 50%;
}
.home-content .home-text h1 {
  color: #9000e8;
  font-size: 4rem;
  margin: 1rem 0;
}
.home-content .home-text p {
  font-size: 1.5rem;
  line-height: 41px;
}

.home-content .home-right{
  position: absolute;
  width: 60%;
  height: 120%;
  background: transparent url(images/our-global-brands-background.svg) no-repeat;
  top: 30%;
  /* bottom: 0; */
  right: 0;
  background-size: contain;
  z-index: -1;
  overflow: hidden;
  opacity: 0.45;
  transform: translateX(15%);
}
.home-text .home-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-text .home-button {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #29f4d4;
  margin-top: 2rem;
  margin-right: 6rem;
  height: 24%;
  border-radius: 30px;
  position: relative;
  top: -18px;

}
.home-text .home-button button {
  margin: 1rem;
  font-size: 1rem;
  font-weight: 700;
  background-color: transparent;
  border: none;
}