@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Beatrice Regular", Arial, Helvetica, sans-serif;
  /* background-color: #05016C; */
  color: white;
}
/* html{
  background: #000 !important;
  color: #0f0 !important;
  outline:solid  #f00 1px !important;
} */
body{
  overflow-x: hidden;
}


/* navbar css */
.mobile-menu-button {
  display: none;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a:link {
  color: #015cfe;
}
div {
  display: block;
}
a {
  text-decoration: none;
}
img {
  vertical-align: middle;
}
ul,
ol {
  list-style: none;
  margin-left: 18px;
  padding-left: 0;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
.nav-tags2 {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* margin: 1rem; */
  line-height: 25px;
}
 .nav-tags2 .num {
  font-size: 1.5rem;
}
 .nav-tags2 .red {
  color: red;
}
.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 110px;
  z-index: 900;
  display: flex;
  align-items: center;
  background-color: #04006c;
  transition: all 0.5s ease;
}

.header .logo {
  width: 204px;
  margin-left: 2rem;
  margin-right: 60px;
  transition: all 0.5s ease;
}

.header .main-navigation ul {
  display: flex;
  margin: 0 2rem 0 0;
  padding: 0;
}
.menu-item a i {
  font-size: 13px;
  padding-left: 2px;
  font-weight: 600;
}
.header .main-navigation #main-menu > .menu-item {
  list-style: none;
  padding: 0;
  margin: 0 12px;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
}

.header .main-navigation .menu-item a {
  color: #fff;
  letter-spacing: -0.89px;
}

.header .main-navigation ul {
  display: flex;
  margin: 0 2rem 0 0;
  padding: 0;
}

.main-navigation .sub-menu,
.main-navigation .children {
  position: absolute;
  top: 25px;
  font-weight: 400;
  left: -999em;
  z-index: 100;
  border-radius: 3px;
  animation-duration: 0.3s;
  animation-fill-mode: both;
}
.header .stock-price {
  margin-right: 2rem;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stock_quote.sqitem.plus,
.stock_quote.sqitem.plus:hover {
  color: #009d59;
}
.header .stock-price__symbol {
  color: #fff;
  display: block;
  font-size: 13px;
  line-height: 1;
}
.header .stock-price__price {
  color: #fff;
  font-size: 22px;
  line-height: 33px;
  display: block;
}
.header .stock-price__change {
  display: block;
  font-size: 12px;
  line-height: 1;
}
.hamburger {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  flex-direction: column;
  background-color: transparent;
  border: 0;
  display: none;
}
.hamburger .line {
  width: 26px;
  height: 2px;
  display: block;
  background-color: #fff;
  margin-bottom: 5px;
  transition: transform 0.75s cubic-bezier(0.16, 1, 0.3, 1);
  cursor: pointer;
}

@media screen and (max-width: 1280px) {
  
  .main-navigation {
    display: none;
  }
  .hamburger {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* cards media queries  */
  .corporate-cards {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
}

@media screen and (max-width: 810px) {
  
  .corporate-cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
  .earth{
   flex-direction: column;
   padding-left: 0;
  }
}

@media screen and (max-width: 512px) {
  .stock-price .stock_quote {
    display: none;
  }
  .tabs-navigation {
    margin-bottom: 40px;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    border: none;
  }
  .mobile-heading {
    margin-bottom: 20px;
    display: block;
  }
  section.leadership {
    max-width: 100%;
    padding: 4rem 0 4rem;
  }
  ul.tabs-navigation > li > a {
    color: #fff;
    display: block;
    padding: 1rem 2rem;
    border: 2px solid #00e0ff;
    border-radius: 50px;
    padding: 1rem 0 1rem 1.35rem;
  }
  .tabs-navigation li {
    margin: 0 0.8rem;
    font-size: 1.2rem;
    text-align: left;
    line-height: 1.5;
  }

  /* cards media queries  */
  .corporate-cards {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

/* home */
.home-content {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.home-video {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
  /* z-index: 100; */
}
.home-content .home-text {
  padding: 4rem;
}
.home-text {
  width: 100%;
  z-index: -2;
  background-color: #05016c;
  position: relative;
}
.home-left {
  width: 50%;
}
.home-content .home-text h1 {
  color: #9000e8;
  font-size: 4rem;
  margin: 1rem 0;
}
.home-content .home-text p {
  font-size: 1.5rem;
  line-height: 41px;
}

.home-content .home-right{
  position: absolute;
  width: 57%;
  height: 120%;
  background: transparent url(images/our-global-brands-background.svg) no-repeat;
  top: 22%;
  /* bottom: 0; */
  right: 0;
  background-size: contain;
  z-index: -1;
  overflow: hidden;
  opacity: 0.45;
  transform: translateX(15%);
}
.home-text .home-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-text .home-button {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #9000e8;
  margin-top: 2rem;
  margin-right: 6rem;
  height: 24%;
  border-radius: 30px;
  position: relative;
  top: -18px;

}


.home-text .home-button button {
  margin: 1rem;
  font-size: 1rem;
  font-weight: 700;
  background-color: transparent;
  border: none;
}
/* slider */
.home-slider{
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  padding-bottom: 4rem;
  background-color: #05016C;
}
.home-slider .card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 33%;
  margin: 1rem;
  padding: 1rem 0;
  /* border: 2px solid #29f4d4; */
}


/* latest news */
.latest-news {
  background-color: #038566;
  width: 100%;
}
.latest-news h1 {
  font-size: 4rem;
  color: #29f4d4;
  padding-left: 5.2rem;
  /* padding-top: 5rem; */
}
.latest-news .cards {
  width: 90%;
  margin: auto;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  padding-bottom: 4rem;
  /* flex-wrap: wrap; */
}
.latest-news .card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 33%;
  margin: 1rem;
  padding: 1rem 0;
  /* border: 2px solid #29f4d4; */
}
.latest-news .cards img {
  width: 100%;
  height: auto;
}
.latest-news .latest-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5rem;
}
.latest-button {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #29f4d4;
  margin-top: 2rem;
  margin-right: 6rem;
  height: 24%;
  border-radius: 30px;
  position: relative;
  top: -18px;
}
.latest-news .latest-button button {
  margin: 1rem;
  font-size: 1rem;
  font-weight: 700;
  background-color: transparent;
  border: none;
}
.card span {
  color: #29f4d4;
  padding: 1rem 0;
}
.cards .card p {
  font-size: 1.2rem;
  font-weight: 800;
  line-height: 30px;
}


/* spotlight */
.spotlight {
    background-color: #00E0FF;
    width: 100%;
    padding-bottom: 6rem;
  }
  .spotlight-head h1 {
    font-size: 4rem;
    color: #05016C;
    padding-left: 5.9rem;
    padding-top: 5rem;
  }
  .spotlight-cards{
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    flex-wrap: wrap;
  }
  .spotlight-cards .card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 17%;
    height: 600px;
    margin: 1rem;
    padding: 1rem 0;
    /* border: 2px solid #29f4d4; */
  }
  .spotlight-cards img {
    width: 100%;
    height: auto;
  }
 
  .spotlight-cards .card h2 {
    color: #05016C;
    font-size: 1.3rem;
    font-weight: 750;
    /* line-height: 30px; */
    margin-top: 1rem;
  }

  .spotlight-cards .card p {
    color: #1b178ee1;
    font-size: 1rem;
    padding-top: 10px;
  }

/* work with us begins */
.earth{
  padding-top: 4rem;
  padding-left: 6rem;
  padding-right: 6rem;
  position: relative;
  background-image: url(./images/careers-background.jpg);
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 120vh;
  display: flex;
}

.earth-left{
  width: 45%;
}
.earth-right{
  width: 50%;
}
.earth h1{
    font-size: 4rem;
    color: #00E0FF;
    /* padding-left: 0.5rem; */
    padding-top: 5rem;
} 
.earth p {
  margin-top: 2rem;
  font-size: 1.3rem;
  line-height: 30px;
}
.earth-left span{
  font-size: 1.6rem;
  margin: 10rem 0;
  color: #00E0FF;
}
.earth-button {
  width: 40%;
  height: 6%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #29f4d4;
  margin-top: 2rem;
  margin-right: 6rem;
  border-radius: 30px;
}
.earth-arrow{
  padding-top: 10px;
}
.earth-button button {
  margin: 1rem;
  font-size: 1.3rem;
  font-weight: 700;
  background-color: transparent;
  border: none;
}

/* footer */
.footer {
  width: 100%;
  /* margin: auto; */
  background-color: #05016c;
  padding: 3rem 0;
}
.footer .socials {
  margin-bottom: 0;
  padding: 1.5rem 0;
}
.footer .socials ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
}
.footer .socials ul li {
  padding: 20px;
  font-weight: 700;
  font-size: 1.3rem;
}
.text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 4rem 0;
}
.text ul {
  text-decoration: none;
  list-style-type: none;
  line-height: 28px;
  font-size: 0.8rem;
}
.text-logo img {
  height: 150px;
  width: 250px;
}
.footer .bottom-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.5rem;
  line-height: 15px;
}
