* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Beatrice Regular", Arial, Helvetica, sans-serif;
  /* background-color: #05016C; */
  color: white;
}
/* html{
  background: #000 !important;
  color: #0f0 !important;
  outline:solid  #f00 1px !important;
} */
body{
  overflow-x: hidden;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #05016c;
  padding-left: 1rem;
  position: sticky;
  top: 0;
  transition: background-color 0.3s ease;
  z-index: 200;
}
@media only screen and (max-width: 768px) {
  .nav-tags {
    display: none;
  }
  .home-content .home-text h1 {
    color: #9000e8;
    font-size: 2rem;
    margin: 1rem 0;
  }
  .home-content .home-text p {
    font-size: 1.5rem;
    /* line-height: 41px; */
  }
}

@media only screen and (max-width: 768px) {
  .nav-tags {
    display: none;
  }
  .home-content .home-text h1 {
    color: #9000e8;
    font-size: 2rem;
    margin: 1rem 0;
  }
  .home-content .home-text p {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .nav-tags {
    display: none;
  }
  .home-content .home-text h1 {
    color: #9000e8;
    font-size: 2rem;
    margin: 1rem 0;
  }
  .home-content .home-text p {
    font-size: 1.5rem;
    /* line-height: 41px; */
  }
}
.navbar .nav-tags {
  margin-left: -14rem;
  padding: 1rem;
}
.navbar .nav-tags ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
}
.navbar .nav-tags ul li {
  padding: 10px;
  font-weight: 700;
  font-size: 1rem;
}
.navbar .nav-logo img {
  height: 100px;
  width: 200px;
}
.li-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .nav-tags2 {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 1rem;
}
.navbar .nav-tags2 .num {
  font-size: 1.5rem;
}
.navbar .nav-tags2 .red {
  color: red;
}

/* home */
.home-content {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.home-video {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
  /* z-index: 100; */
}
.home-content .home-text {
  padding: 4rem;
}
.home-text {
  width: 100%;
  z-index: -2;
  background-color: #05016c;
  position: relative;
}
.home-left {
  width: 50%;
}
.home-content .home-text h1 {
  color: #9000e8;
  font-size: 4rem;
  margin: 1rem 0;
}
.home-content .home-text p {
  font-size: 1.5rem;
  line-height: 41px;
}

.home-content .home-right{
  position: absolute;
  width: 60%;
  height: 120%;
  background: transparent url(images/our-global-brands-background.svg) no-repeat;
  top: 30%;
  /* bottom: 0; */
  right: 0;
  background-size: contain;
  z-index: -1;
  overflow: hidden;
  opacity: 0.45;
  transform: translateX(15%);
}
.home-text .home-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-text .home-button {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #29f4d4;
  margin-top: 2rem;
  margin-right: 6rem;
  height: 24%;
  border-radius: 30px;
  position: relative;
  top: -18px;

}
.home-text .home-button button {
  margin: 1rem;
  font-size: 1rem;
  font-weight: 700;
  background-color: transparent;
  border: none;
}
/* slider */
.home-slider{
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  padding-bottom: 4rem;
  background-color: #05016C;
}
.home-slider .card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 33%;
  margin: 1rem;
  padding: 1rem 0;
  /* border: 2px solid #29f4d4; */
}


/* latest news */
.latest-news {
  background-color: #038566;
  width: 100%;
}
.latest-news h1 {
  font-size: 4rem;
  color: #29f4d4;
  padding-left: 5.2rem;
  /* padding-top: 5rem; */
}
.latest-news .cards {
  width: 90%;
  margin: auto;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  padding-bottom: 4rem;
  /* flex-wrap: wrap; */
}
.latest-news .card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 33%;
  margin: 1rem;
  padding: 1rem 0;
  /* border: 2px solid #29f4d4; */
}
.latest-news .cards img {
  width: 100%;
  height: auto;
}
.latest-news .latest-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5rem;
}
.latest-button {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #29f4d4;
  margin-top: 2rem;
  margin-right: 6rem;
  height: 24%;
  border-radius: 30px;
  position: relative;
  top: -18px;
}
.latest-news .latest-button button {
  margin: 1rem;
  font-size: 1rem;
  font-weight: 700;
  background-color: transparent;
  border: none;
}
.card span {
  color: #29f4d4;
  padding: 1rem 0;
}
.cards .card p {
  font-size: 1.2rem;
  font-weight: 800;
  line-height: 30px;
}


/* spotlight */
.spotlight {
    background-color: #00E0FF;
    width: 100%;
    padding-bottom: 6rem;
  }
  .spotlight-head h1 {
    font-size: 4rem;
    color: #05016C;
    padding-left: 5.9rem;
    padding-top: 5rem;
  }
  .spotlight-cards{
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    flex-wrap: wrap;
  }
  .spotlight-cards .card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 17%;
    height: 600px;
    margin: 1rem;
    padding: 1rem 0;
    /* border: 2px solid #29f4d4; */
  }
  .spotlight-cards img {
    width: 100%;
    height: auto;
  }
 
  .spotlight-cards .card h2 {
    color: #05016C;
    font-size: 1.3rem;
    font-weight: 750;
    /* line-height: 30px; */
    margin-top: 1rem;
  }

  .spotlight-cards .card p {
    color: #1b178ee1;
    font-size: 1rem;
    padding-top: 10px;
  }

/* work with us begins */
.earth{
  padding-top: 4rem;
  padding-left: 6rem;
  padding-right: 6rem;
  position: relative;
  background-image: url(./images/careers-background.jpg);
  background-size: cover;
  /* overflow: hidden; */
  width: 100%;
  height: auto;
  display: flex;
}

.earth-left{
  width: 45%;
}
.earth-right{
  width: 50%;
}
.earth h1{
    font-size: 4rem;
    color: #00E0FF;
    /* padding-left: 0.5rem; */
    padding-top: 5rem;
} 
.earth p {
  margin-top: 2rem;
  font-size: 1.3rem;
  line-height: 30px;
}
.earth-left span{
  font-size: 1.6rem;
  margin: 10rem 0;
  color: #00E0FF;
}
.earth-button {
  width: 40%;
  height: 6%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #29f4d4;
  margin-top: 2rem;
  margin-right: 6rem;
  border-radius: 30px;

}
.earth-button button {
  margin: 1rem;
  font-size: 1.3rem;
  font-weight: 700;
  background-color: transparent;
  border: none;
}

/* footer */
.footer {
  width: 100%;
  /* margin: auto; */
  background-color: #05016c;
  padding: 3rem 0;
}
.footer .socials {
  margin-bottom: 0;
  padding: 1.5rem 0;
}
.footer .socials ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
}
.footer .socials ul li {
  padding: 20px;
  font-weight: 700;
  font-size: 1.3rem;
}
.text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 4rem 0;
}
.text ul {
  text-decoration: none;
  list-style-type: none;
  line-height: 28px;
  font-size: 0.8rem;
}
.text-logo img {
  height: 150px;
  width: 250px;
}
.footer .bottom-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.5rem;
  line-height: 15px;
}
